* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #efefef;
  font-family: 'Catamaran', Tahoma, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

/*
PAGE CONTAINER
****************************************************/
#page_container {
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 105px;
}

@media screen and (min-width: 480px) {
  #page_container { padding-bottom: 85px; }
}

/*
NAVIGATION
****************************************************/
#page_header {
  background: #fff;
  border-bottom: 1px solid #dbe3e8;
  color: #565D64;
  height: 51px;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1;
}

  #page_header ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .podcast_select { float: left; }

    .podcast_select > li {
      cursor: pointer;
      display: inline-block;
      padding: 0 10px;
      position: relative; }
      .podcast_select > li > a {
        display: block;
        height: 100%;
        width: 100%;
      }
      .podcast_select > li::before {
        background: red;
        content: ' ';
        position: absolute;
          bottom: -4px; left: 50%;
        height: 3px;
        width: 0;
        transition: 0.5s ease; 
      }
      .podcast_select > li:hover::before {
        left: 0;
        width: 100%;
        transition: 0.5s ease;
      }

    .tfa_podcast {
      background-image: url('../images/tfa_podcast.jpg');background-repeat: no-repeat;
      background-position: center center;
      background-size: 50px 50px;
      border: 1px solid transparent;
      width: 70px;
      height: 50px;
      text-indent: -9999px;
    }

    .dynasty_life {
      background-image: url('../images/dynasty_life.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50px 50px;
      border-bottom: 1px solid transparent;
      width: 70px;
      height: 50px;
      text-indent: -9999px;
    }

    .degenation {
      background-color: #333;
      background-image: url('../images/degenation.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50px 50px;
      border-bottom: 1px solid transparent;
      width: 70px;
      height: 50px;
      text-indent: -9999px;
    }

  .audio_action {
    float: right;
  }
    .audio_action > li {
      background: #efefef;
      border: 1px solid #dfdfdf;
      border-radius: 3px;
      color: #6a6a6a;
      cursor: pointer;
      display: block;
      float: left;
      font-size: .875rem;
      line-height: 30px;
      margin: 10px 15px 0 0;
      padding: 0 15px;
      text-align: center;
      text-transform: uppercase;
      height: 30px;  }

    .add_audio:hover { background-color: green; color: white; }
    .remove_audio:hover { color: red; }

/*
NEW FILE FORM
****************************************************/
#new_file_form {
  background: #dfdfdf;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100%;
  transition: 1s ease;
  z-index:0;
}
  #new_file_form.active { top: 51px; transition: 1s ease; }

  #new_file_form .formField {
    border-bottom: 1px solid #cfcfcf;
    padding: 15px;
    width: 100%;
  }

  #new_file_form .formBtn { border: 0; text-align: center; }

    #new_file_form .formField label {
      color: #777;
      display: block;
      font-size: .75rem;
      line-height: 1;
      text-transform: uppercase;
    }

@media screen and (min-width: 768px) {
  #new_file_form .formField { float: left; border: 0; width: auto; }
  #new_file_form .formBtn { position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
  #new_file_form .select_podcast { width: 150px; }
  #new_file_form .file_selection { width: 265px; }
  #new_file_form .button_label   { width: 150px; }
}

/*
ERROR MESSAGES
****************************************************/
#errors {
  background: #b91c2d;
  color: white;
  display: none;
  padding: 15px;
  text-transform: uppercase;
}

  #errors ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

/*
AUDIO PLAYER
****************************************************/
#audioplayer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#now_playing {
  background: #dfdfdf;
  border-top: 1px solid #dadada;
  color: #4a4a4a;
  font-size: .85rem;
  font-weight: 800;
  margin: 0;
  padding: 3px 25px;
  text-transform: uppercase;
  overflow: hidden;
}

  #now_playing span {
    display:block;
    font-weight: 400; }

.plyr__progress--played,
.plyr__volume--display {
  color: #b91c2d;
}

@media screen and (min-width: 480px) {
  #now_playing span { display: inline; padding: 0 15px; }
}

/*
SOUND BOARD
****************************************************/
#sound_board:after {
  clear: both;
  content: '';
  display: table;
}
#sound_board > .container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px;
}
  #sound_board h1 {
    color: #4a4a4a;
    font-size: 1.75rem;
    line-height: 1;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  #sound_board > .btn_container {
    overflow: auto;
  }
    #sound_board button {
      -moz-appearance: none;
      -webkit-appearance: none;
      background: #dfdfdf;
      border: 0;
      border-radius: 5px;
      color: #4a4a4a;
      cursor: pointer;
      float: left;
      font-size: 1rem;
      font-weight: 400;
      margin: 0.5%;
      padding: 20px 10px;
      outline: 0;
      text-transform: uppercase;
      width: 99%;
    }
    #sound_board button.active,
    #sound_board button:hover {
      background: #B91C2D;
      color: #fff;
    }

@media screen and (min-width: 480px) {
  #sound_board button { width: 49%; }
}

@media screen and (min-width: 768px) {
  #sound_board button { width: 32.33%; }
}

@media screen and (min-width: 1000px) {
  #sound_board button { width: 24%; }
}